<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" type="text/css" href="new_board_head.css">
</head>
<ul>
        <li><img class=logoimg src="img/logo3.png"></li>
        <li>공지사항</li>
        <li>Main</li>
        <li>My Project</li>
        <li>Front-end</li>
        <li>Back-end</li>
        <li>JAVA</li>
        <li>C/C#/C++</li>
        <li>Other</li>
        <li>Beedback?</li>
</ul>


